.title__block {
    .title__inner {
      text-align: center;
      padding-top: 128px;
      @media (max-width: 1024px) {
        padding-top: 112px;
      }
      @media (max-width: 375px) {
        padding-top: 64px;
      }
      & > h1,
      & > p,
      &-bottom {
        margin-top: 24px;
        &-btn {
          font-size: 16px;
          line-height: 16px;
          background: white;
          border-radius: 90px;
          padding: 16px 24px;
        }
      }
      & > p {
        color: #777e91;
        font-family: "Poppins";
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
      }
    }
  }