.auction__inner-left {
  &-img {
    position: absolute;
    max-width: 640px;
    max-height: 800px;
    border-radius: 15px;
    @media (max-width: 1024px) {
      max-width: 528px;
    }
    @media (max-width: 1262px) {
      max-width: 548px;
    }
    @media (max-width: 592px) {
      max-width: 488px;
      & + audio {
        transform: translateY(203px);
        width: 470px;
      }
    }
    @media (max-width: 546px) {
      width: 451px;
      & + audio {
        width: 430px;
        transform: translateY(170px);
      }
    }
    @media (min-width: 475px) and (max-width: 510px) {
      width: 401px;
      & + audio {
        width: 385px;
        transform: translateY(109px);
      }
    }
    @media (max-width: 475px) {
      width: 281px;
      & + audio {
        width: 267px;
        transform: translateY(-40px);
      }
    }
  }
  &-player {
    margin: 0px 8px;
    margin-top: 330px;
    width: 524px;
    @media (min-width: 1262px) {
      margin-top: 743px;
      min-width: 624px;
    }
    @media (max-width: 1262px) {
      transform: translateY(290px);
    }
  }
}
.auction__block {
  height: 1064px;
  padding-top: 128px;
  .auction__inner {
    @media (min-width: 946px) {
      display: flex;
    }
    gap: 128px;
    @media (max-width: 1262px) {
      gap: 32px;
    }
    &-right {
      &-title {
        font-size: 64px;
        line-height: 64px;
        @media (max-width: 946px) {
          margin-top: 340px;
        }
        @media (max-width: 646px) {
          margin-top: 300px;
        }
        @media (max-width: 592.5px) {
          margin-top: 220px;
        }
        @media (max-width: 562.5px) {
          margin-top: 220px;
        }
        @media (max-width: 510.5px) {
          margin-top: 140px;
        }
        @media (max-width: 475px) {
          margin-top: 0;
        }
        letter-spacing: -0.02em;
      }
      &-acc {
        margin-top: 20px;
        gap: 65.5px;
        &-left {
          gap: 8px;
          align-items: center;
          .austin {
            &-avatar {
              background-image: url("https://cdn.pixabay.com/photo/2013/07/13/10/07/man-156584__340.png");
              background-size: cover;
              background-position: center center;
              background-repeat: no-repeat;
              border-radius: 48px;
              background-color: wheat;
              height: 40px;
              width: 40px;
              &.icon {
                background-image: url("/images/discover/auction/austin-right.svg");
              }
            }
            &-info {
              &-top {
                font-size: 12px;
                line-height: 20px;
              }
              &-bottom {
                font-size: 14px;
                line-height: 24px;
              }
            }
          }
        }
      }
      &-middle {
        padding: 32px 0;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 304px;
        height: 296px;
        box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
        border-radius: 24px;
        margin-left: auto;
        width: 100%;
        margin-right: auto;
        > p {
          font-size: 16px;
          line-height: 24px;
        }
        > h2 {
          letter-spacing: 0.02em;
          font-size: 48px;
          line-height: 56px;
        }
        > h4 {
          font-size: 24px;
          line-height: 32px;
          font-family: sans-serif;
        }
        &-bottom {
          margin-top: 24px;
          > p {
            font-size: 16px;
            line-height: 24px;
          }
          > div {
            gap: 52px;
            > div {
              > small {
                font-size: 16px;
                line-height: 24px;
              }
              > h3 {
                font-size: 32px;
                line-height: 40px;
              }
            }
          }
        }
      }
      &-bottom {
        &-btn-white {
          margin-top: 8px;
          border-radius: 90px;
          background: white;
          height: 48px;
          width: 100%;
          display: flex;
          align-items: center;
        }
        &-arrows {
          display: flex;
          gap: 34px;
          margin-top: 10px;
          @media (max-width: 762px) {
            text-align: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

.btn-blue:hover {
  background: #3772ff;
  color: #FCFCFD;
}
.btn-blue {
  border-radius: 90px;
  background: #FCFCFD;
  height: 48px;
  color: #23262F;
  width: 100%;
  display: flex;
  align-items: center;
}
