.title {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
  font-family: 'DM Sans';
  color: #23262f  ;
  @media (max-width: 500px) {
    font-size: 32px;
  }
}
@import "./Title/title.scss";
//////////////////////////////////////////////////////////////////////////////////////////////////////////auction-block
@import "./Auction/auction.scss";
.prev:hover {
  border: 2px solid rgb(178, 178, 178);
}
.next:hover {
  border: 2px solid rgb(170, 170, 170);
}
.next {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../../images/prev.svg');
}
.prev {
  background-size: 19px;
  justify-content: center;
  background-image: url('../../../images/next.svg');
  display: flex;
  background-position: center center;
  cursor: pointer;
  align-items: center;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////Feed-one block
@import "./Feed/feed.scss";
.acc-ava {
  background-image: url("https://cdn.pixabay.com/photo/2013/07/13/10/07/man-156584__340.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: #9757d7;
  height: 56px;
  width: 56px;
  & > span {
    width: 24px;
    height: 24px;
    font-size: 12px;
    color: white;
    padding: 1px 6px;
    text-align: center;
    background: #23262f;
    border-radius: 48px;
    place-content: center;
  }
}
@import "./TopCreators/topcreators.scss";
//////////////////////////////////////////////////////////////////////////////////////////////////////////Top creators
@import "./Hotbid/hotbid.scss";