.title__block {
  .title__inner {
    text-align: center;
    padding-top: 128px;
    @media (max-width: 1024px) {
      padding-top: 112px;
    }
    @media (max-width: 375px) {
      padding-top: 64px;
    }
    & > h1,
    & > p,
    &-bottom {
        margin-top: 24px;
      &-btn {
        font-size: 16px;
        line-height: 16px;
        background: white;
        border-radius: 90px;
        padding: 16px 24px;
      }
    }
    & > h1 {
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.01em;
    }
    & > p {
      color: #777e91;
      font-family: "Poppins";
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
    }
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////auction-block
.auction__block{
    height: 1064px;
    padding-top: 128px;
    .auction__inner{  
        @media (min-width: 946px) {
          display: flex;
        }
        gap: 128px;
        @media (max-width: 1262px) { 
            gap: 32px;
        }
        &-left{
            &-img{
                position: absolute;
                max-width: 640px;
                max-height: 800px;
                border-radius: 15px;
                @media (max-width: 1024px) {
                  max-width: 528px;
                }
                @media (max-width: 1262px) { 
                  max-width: 548px;
                }
                @media (max-width: 592px) {
                  max-width: 488px;
                }
                @media (max-width: 475px) {
                  width: 281px;
                }
            }
            &-player{
                margin: 0 8px;
                margin-top: 600px;
                width: 624px;
                @media (max-width: 565px) {
                  margin-top: 550px;
                  width: 470px;
                }
                @media (min-width: 1262px) {
                  margin-top: 743px;
                  min-width: 624px;
                }
                @media (min-width: 565px){
                  width: 510px;
                }
                @media (max-width: 475px) {
                  width: 267px;
                  margin-top: 290px;
                }
            }
        }
        &-right{
          &-title{
                font-size: 64px;
                line-height: 64px;
                @media (max-width: 944px) {
                  margin-top: 40px;
                }
                letter-spacing: -0.02em;
              }
            &-acc{
              margin-top: 20px;
              gap: 65.5px;
              &-left{
                gap: 8px;
                align-items: center;
                .austin{
                  &-avatar{
                    background-image: url('https://cdn.pixabay.com/photo/2013/07/13/10/07/man-156584__340.png');
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    border-radius: 48px;
                    background-color: wheat;
                    height: 40px;
                    width: 40px;
                    &.icon{
                      background-image: url('../../images/austin-right.svg');
                    }
                  }
                  &-info{
                    &-top{
                      font-size: 12px;
                      line-height: 20px;
                    }
                    &-bottom{
                      font-size: 14px;
                      line-height: 24px;
                    }
                  }
                }
              }
            }
            &-middle{
              padding: 32px 0;
              margin-top: 40px;
              width: 304px;
              height: 296px;
              box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
              border-radius: 24px;
              margin-left: auto;
              width: 100%;
              margin-right: auto;
              >p{
                font-size: 16px;
                line-height: 24px;
              }
              >h2{
                letter-spacing: 0.02em;
                font-size: 48px;
                line-height: 56px;
              }
              >h4{
                font-size: 24px;
                line-height: 32px;
                font-family: sans-serif;
              }
              &-bottom{
                margin-top: 24px;
                >p{
                  font-size: 16px;
                  line-height: 24px;
                }
                >div{
                  gap: 52px;
                >div{
                  >small{
                    font-size: 16px;
                    line-height: 24px;
                  }
                  >h3{
                      font-size: 32px;
                      line-height: 40px;
                    }
                }
                }
              }
            }
            &-bottom{
              &-btn-blue{
                border-radius: 90px;
                background: #3772FF;
                height: 48px;
                width: 100%;
                display: flex;
                align-items: center;
              }
              &-btn-white{
                margin-top: 8px;
                border-radius: 90px;
                background: white;
                height: 48px;
                width: 100%;
                display: flex;
                align-items: center;
              }
              &-arrows{
                display: flex;
                gap: 34px;
                margin-top: 10px;
                &-prev:hover{
                  border: 2px solid rgb(178, 178, 178);
                }
                &-next:hover{
                  border: 2px solid rgb(170, 170, 170);
                }
                &-next{
                   display: flex;
                   align-items: center;
                   text-align: center;
                   justify-content: center;
                   width: 40px;
                   font-size: larger;
                   height: 40px;
                   border-radius: 50%;
                }
                &-prev{
                  justify-content: center;
                  font-size: larger;
                  display: flex;
                  align-items: center;
                  text-align: center;
                  border-radius: 50%;
                  width: 40px;
                  height: 40px;
                }
                @media (max-width: 762px) {
                  text-align: center;
                  justify-content: center;
                }
              }
            }
          }
        }
      }
//////////////////////////////////////////////////////////////////////////////////////////////////////////Feed-one block
.feed__fordf{
  @media (max-width: 1231px) {
    display: block;
  }
}
.feed__block__inner{
  max-width: 846px;
  // flex-wrap: wrap;
  justify-content: space-between;
  // ------------------- //
  &-left{
    width: 448px;
    @media (max-width: 1024px) {
      width: 414px;
    }
    height: 512px;
    @media (max-width: 945px) {
      margin-top: 470px;
    }
    @media (max-width: 945px) {
      margin-top: 470px;
    }
    &-img{
      background-image: url('/images/third-block-left.png');
      height: 432px;
      background-position: center -0.3px;
      background-repeat: no-repeat;
    }
    &-info{
      padding-top: 10px;
      justify-content: space-between;
      &-acc{
        align-items: end;
        gap: 16px;
        .avatar{
          background-image: url('https://cdn.pixabay.com/photo/2013/07/13/10/07/man-156584__340.png');
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 48px;
          background-color: wheat;
          height: 48px;
          width: 48px;
          &-right{
            &>h4{
              @media (max-width: 441px) {
                font-size: 20px;
              }
              @media (max-width: 405px) {
                font-size: 18px;
              }
              @media (max-width: 387px) {
                font-size: 16px;
              }
              font-size: 24px;
            }
            &>small{
              color: #353945;
            }
          }
        }
      }
      &-right{
        text-align: center;
        &-p1{
          font-size: 12px;
        }
        &-p2{
          margin-top: 10px;
          color: #45B36B;
          display: flex;
          text-align: center;
          align-items: center;
          font-size: 12px;
          border-radius: 4px;
          justify-content: center;
          width: 68px;
          height: 26px;
          border: 2px solid #45B36B;
        }
      }
    }

  }
  // ------------------- //
  &-middle{
    box-sizing: content-box;
    border-right: 1px solid #E6E8EC;
    flex-direction: column;
    margin-left: 24px;
    padding-right: 24px;
    width: 351px;
    @media (max-width: 970px) {
      width: 330px;
      margin-top: 468px;
      margin-left: 13px;
      padding: 0;
    }
    @media (max-width: 849px) {
      display: none;
    }
    &-top{
      height: 148px;
      &-descrip{
        margin-left: 24px;
        &>button:hover{
          color: white;
          background-color: #3772FF;
        }
        &>button{
          border: 2px solid #E6E8EC;
          background-color: white;
          border-radius: 90px;
          padding: 8px 12px;
        }
        &>div{
          gap: 11px;
          margin: 8px 0 16px;
        }
        &>div>div{
          background-image: url('https://cdn.pixabay.com/photo/2013/07/13/10/07/man-156584__340.png');
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 50%;
          background-color: #9757D7;
          height: 24px;
          width: 24px;
        }
        .ptwoforthis{
          font-size: 14px;
        }
        .scrrra{
          margin: 0;
          padding: 0;
        }
      }
    }
    &-middle{
      margin: 32px 0;
    }
  }
  // ------------------- //
  &-right{
    margin-left: 32px;
    @media (max-width: 830px) {
      border-top: 1px solid #E6E8EC;
    }
    @media (max-width: 1230px) {
      padding-top: 60px;
      margin-left: 0;
    }
    &>p{
      font-size: 12px;
    }
    &-column{
      // flex-wrap: wrap;
      @media (max-width: 1230px) {
        // flex-wrap: wrap;
        justify-content: space-between;
        display: flex;
        flex-wrap: nowrap;
      }
      &-line{
        height: 1px;
        width: 100%;
        @media (max-width: 1230px) {
          display: none;
          // opacity: 0;
        }
        background-color:#E6E8EC;
      }
      &-item{
        margin: 24px 0;
        min-width: 224px;
        min-height: 56px;
        gap: 16px;
        &-left{
          background-image: url('https://cdn.pixabay.com/photo/2013/07/13/10/07/man-156584__340.png');
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 50%;
          background-color: #9757D7;
          height: 56px;
          width: 56px;
          &>span{
            width: 24px;
            height: 24px;
            font-size: 12px;
            color: white;
            padding: 1px 6px;
            text-align: center;
            background: #23262F;
            border-radius: 48px;
            place-content: center;
          }
        }
        &-right{
          &>small{
            gap: 2px;
          }
        }
      }
      &-button:hover{
        background-color: #3772FF;
        color: white;
        cursor: pointer;
      }
      &-button{
        border: 2px solid #E6E8EC;
        border-radius: 90px;
        padding: 12px;
        width: 158px;
        height: 40px;
        font-size: 14px;
        justify-content: space-between;
        @media (max-width: 1230px) {
          display: none;
        }
      }
    }
  }
}