* {
  margin: 0;
  padding: 0;
  // user-select: none;
  user-zoom: none;
  box-sizing: border-box;
}
.f700 {
  font-weight: 700;
}
.f500 {
  font-weight: 500;
}
.disflex {
  display: flex;
}
.tcenter {
  justify-content: center;
  text-align: center;
}
.acenter {
  align-items: center;
}
.f400 {
  font-weight: 400;
}
.f600 {
  font-weight: 600;
}
.border2 {
  border: 2px solid #e6e8ec;
}
.cht2 {
  color: #23262f;
}
.cht4 {
  color: #141416;
}
.likewhite {
  color: #fcfcfd;
}
.likegray {
  color: #777e91;
}
.poppins {
  font-family: "Poppins";
}
.dmsans {
  font-family: "DM Sans";
}
a:active {
  color: #777e91;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
::before,
::after {
  box-sizing: border-box;
}
button:active {
  cursor: default;
}
button {
  cursor: pointer;
}
.container {
  // position: absolute;
  overflow-x: hidden;
  max-width: 1440px;
  padding: 0 160px;
  margin: 0 auto;
  @media (max-width: 1422px) {
    padding: 0 80px;
  }
  @media (max-width: 1024px) {
    max-width: 1024px;
  }
  @media (max-width: 593px) {
    max-width: 575px;
    padding: 0 35.5px;
  }
  @media (max-width: 475px) {
    padding: 0 35.5px;
  }
  @media (max-width: 972px) {
    padding: 0 35.5px;
  }
}
// Перехожу на БЭМ ! (12.03.2023)
@import "/src/pages/Discover/home.scss";
@import "/src/pages/Upload/upload.scss";
@import "/src/pages/Item/item.scss";
@import "/src/Layout/Header/header.scss";
@import "/src/Layout/Footer/footer.scss";
