* {
  margin: 0;
  padding: 0;
  user-select: none;
  user-zoom: none;
  box-sizing: border-box;
}
.f700{
  font-weight: 700;
}
.f500{
  font-weight: 500;
}
.disflex{
  display: flex;
}
.tcenter{
  justify-content: center;
  text-align: center;
}
.acenter{
  align-items: center;
}
.f400{
  font-weight: 400;
}
.f600{
  font-weight: 600;
}
.border2{
  border: 2px solid #e6e8ec;
}
.cht2{
  color: #23262F;
}
.cht4{
  color: #141416;
}
.likewhite{
  color: #FCFCFD;
}
.likegray{
  color: #777E91;
}
.poppins{
  font-family: 'Poppins';
}
.dmsans{
  font-family: 'DM Sans';
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
::before,
::after {
  box-sizing: border-box;
}
.container { 
  overflow: hidden;
  max-width: 1440px;
  padding: 0 160px;
  margin: 0 auto;
  @media (max-width: 1422px) {
    padding: 0 80px;  
  }
  @media (max-width: 1024px) {
    max-width: 1024px;
  }
  @media (max-width: 593px) {
    max-width: 575px;
    padding: 0 35.5px;
  }
  @media (max-width: 375px) {
    max-width: 375px;
    padding: 0 35.5px;
  }
  @media (max-width: 972px) {
    padding: 0 45.5px;
  }
}
